<?php


$host = "localhost";
$userName = "root";
$password = "password";
$dbName = "databse";

$conn = new mysqli($host, $userName, $password, $dbName);

if ($conn->connect_error) {
    die("Niet verbonden: " . $conn->connect_error);
}


global $mailUsername;
global $mailPassword;
global $mailToNubix;
$mailUsername = "username@host.com";
$mailPassword = "Password4!";
$mailToNubix = "support@example.com";


?>


